.chinese {
  font-weight: 100;
  font-size: 85px;
  font-family: "Noto Sans Simplified Chinese", sans-serif;
}

.top-banner {
  font-family: "OTBrut", sans-serif;
  color: var(--font-color-flipped);
  background: var(--theme-color);

  &__content {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    // text-transform: uppercase;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
    p {
      font-size: 0.6rem;
      margin: 0;
      line-height: 1.5;
    }

    &:first-child {
      padding-bottom: 0;
      padding-top: 3rem;
      font-weight: 600;
    }
  }

  &__symbol {
    display: flex;
    justify-content: center;
    // padding-bottom: 2rem;
    animation: rotation-sym 5s linear infinite;
    transform-origin: center;
  }
}

.top-banner__track {
  display: flex;
  width: max-content;
  animation: scroll-left 100s linear infinite;
  padding: 3rem 0 2rem;
}

.top-banner__inner {
  display: flex;
  font-size: 10rem;
  white-space: nowrap;
}

.top-banner__inner span {
  display: inline-block;
  margin-right: 2rem;
  line-height: 1;
  vertical-align: middle;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes rotation-sym {
  0% {
    rotate: z 0;
  }
  100% {
    rotate: z -360deg;
  }
}
