.logo-container--codedrillz {
  min-width: 120px;
  max-width: 120px;
}

.cls-codedrillz {
  fill: grey;
}

.app-body__block:hover {
  .leftArrow {
    animation: leftArrowAnimation 2s infinite;
  }
  
  .slash {
    animation: slashAnimation 2s infinite;
  }
  
  .rightArrow {
    animation: rightArrowAnimation 2s infinite;
  }
}

@keyframes leftArrowAnimation {
  20% { opacity: 1; }
  21% { opacity: 0; }
  60% { opacity: 0; }
  61% { opacity: 1; }
}

@keyframes slashAnimation {
  27% { opacity: 1; }
  28% { opacity: 0; }
  66% { opacity: 0; }
  67% { opacity: 1; }
}

@keyframes rightArrowAnimation {
  33% { opacity: 1; }
  34% { opacity: 0; }
  73% { opacity: 0; }
  74% { opacity: 1; }
}