.logo-container--indigo {
  min-width: 150px;
  max-width: 150px; }

.cls-indigo-black {
  fill: grey; }

.cls-indigo-white {
  fill: white; }

.app-body__block:hover .pen-white {
  animation: pen-white-animation 1s infinite; }

.app-body__block:hover .pen-black {
  animation: pen-black-animation 1s infinite; }

.app-body__block:hover .pen-feather {
  animation: pen-feather-animation 1s infinite; }

@keyframes pen-feather-animation {
  0% {
    d: path("M940.67,593.7a23.75,23.75,0,0,1-.12-22.83c6.51-12.4,17.21-31.24,17.05-32.83,0,0,9.07,31.18-15.86,56"); }
  50% {
    d: path("M953.38,590.74a23.75,23.75,0,0,1-12.91-18.83c-1.57-13.92-3.28-35.51-4.3-36.74,0,0,25,20.72,18.28,55.24"); } }

@keyframes pen-white-animation {
  0% {
    d: path("M938.53,603l1-2.74c1.3-3.66,2.51-7.35,3.76-11s2.38-7.39,3.5-11.11l.83-2.79,6.31-20.89-7,20.65h0l-1,2.74c-1.3,3.66-2.51,7.35-3.76,11s-2.38,7.39-3.5,11.11l-.83,2.79"); }
  50% {
    d: path("M956.83,599.64l-.72-2.82c-1-3.76-2-7.49-3.07-11.23s-2.17-7.45-3.33-11.16l-.88-2.78-6.5-20.83,5.77,21h0l.72,2.82c1,3.76,2,7.49,3.07,11.23s2.17,7.45,3.33,11.16l.88,2.78"); } }

@keyframes pen-black-animation {
  0% {
    d: path("M940.17,595l-2.36,7.72-.07.25a17,17,0,0,0-2.44-.6,17,17,0,0,0,2.33,1,9.79,9.79,0,0,1-.85,2.07A5.54,5.54,0,0,1,935,607s.89.35,2.21-1.2a2.81,2.81,0,0,0,.91,2.2,6.76,6.76,0,0,1-.4-2.42,10.34,10.34,0,0,1,.32-1.22l.28-.77a16.61,16.61,0,0,0,2.42.6,16.53,16.53,0,0,0-2.29-1l.09-.24,3.06-8.54"); }
  50% {
    d: path("M953.72,592.14l2.37,7.71.08.25a17,17,0,0,0-2.36.87,17,17,0,0,0,2.47-.51,9.79,9.79,0,0,1,.46,2.19,5.54,5.54,0,0,1-.59,2.29s.93-.2,1.15-2.23a2.81,2.81,0,0,0,2,1.31,6.76,6.76,0,0,1-1.69-1.78,10.34,10.34,0,0,1-.42-1.19l-.2-.79a16.61,16.61,0,0,0,2.34-.86,16.53,16.53,0,0,0-2.43.5l-.06-.25-2.26-8.79"); } }
