.logo-container--nautical {
  transform-origin: center center;
  min-width: 135px;
  max-width: 135px;
  transition: 0.4s all; }

.cls-nautical {
  fill: grey; }

.app-body__block:hover .logo-container--nautical {
  animation: nautical-smooth 1s infinite; 
  transform-origin: center center;
}

@keyframes nautical-smooth {
  0%, 100% {
    rotate: 0deg;
    animation-timing-function: ease-out;
  }
  25% {
    rotate: 10deg;
    animation-timing-function: ease-in;
  }
  50% {
    rotate: 0deg;
    animation-timing-function: ease-out;
  }
  75% {
    rotate: -10deg;
    animation-timing-function: ease-in;
  }
}