.logo-container--packager {
  min-width: 135px;
  max-width: 135px;
}

.cls-packager-1 {
  fill: var(--accent-light);
  stroke: var(--accent-light);
}

.cls-packager-2 {
  fill: var(--accent);
  stroke: var(--accent);
}

.cls-packager-3 {
  fill: #f2f2f2;
}

.cls-packager-1,
.cls-packager-2 {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.app-body__block:hover .logo-container--packager {
  animation: packager-animation 1s infinite;
}

@keyframes packager-animation {
  0%,
  100% {
    rotate: 0deg;
    animation-timing-function: ease-out;
  }
  25% {
    rotate: 5deg;
    animation-timing-function: ease-in;
  }
  50% {
    rotate: 0deg;
    animation-timing-function: ease-out;
  }
  75% {
    rotate: -5deg;
    animation-timing-function: ease-in;
  }
}
