@font-face {
  font-family: "OTBrut";
  src: url("/font/OTBrut-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OTBrut";
  src: url("/font/OTBrut-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OTBrut Mono";
  src: url("/font/OTBrut-RegularMono.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OTBrut Mono";
  src: url("/font/OTBrut-ItalicMono.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
