@use "./styles/main";
@use "./styles/fonts" as *;

h1,
h2,
h3 {
  text-align: center;
  font-weight: 400;
  color: var(--title-color);
}

h2 {
  font-size: 1em;
}

p,
ul li {
  font-size: 14px;
  line-height: 2em;
}

html,
body,
#root {
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  min-width: 300px;
  height: 100%;

  padding: 5em 2em 5em 6em;

  // padding: 5em 3em;
  box-sizing: border-box;

  background-color: var(--background-color);
  transition: 0.4s all;

  // box-shadow: 1px 1px 4px 1px lightgrey;
  z-index: 1;
}

.nav__logo {
  // REMOVE :MAYBE
  fill: var(--theme-color);
  width: 50px;

  h3 {
    margin: 0;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  &--mobile {
    width: 35px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 1.5em 1em;
  }
}

// .nav--show-mobile .nav__logo--mobile {
//   display: block;
// }

.nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 100%;
}

.nav__menu-item {
  // text-align: center;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.nav__menu-item li {
  padding: 0.5em 0;
  font-weight: bold;

  a {
    color: var(--font-color);
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

.hamburger__button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  // z-index: 1;
}

.App {
  font-family: "Montserrat", sans-serif;
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;

  overflow-x: hidden;

  &--hide-scroll {
    overflow: hidden;
  }
}

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 80px;
// }

.app-body {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  // grid-template-rows: repeat(3, 1fr);
  grid-gap: 3em;

  width: 100%;
  padding: 3rem 5rem;
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  // overflow: auto;

  // background-color: white;
  // color: black;

  &:after {
    content: "";
    padding-bottom: 2em;
    grid-column: 1;
  }

  &__selected-works {
    padding: 0 6rem;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }

  &__selected-works-title {
    @include project-label;
    text-align: right;
    color: var(--title-color);
    border-bottom: solid 1px var(--theme-color-light);
  }

  &__projects {
    // font-family: "Josefin Slab", sans-serif;
    // font-size: 75px;
    // color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; // space between diamond and text
    font-size: 4rem;
    font-family: "OTBrut", serif;
    line-height: 1;
    margin: 3rem auto 1rem;
    padding: 2rem 0;
    color: var(--title-color);
    letter-spacing: 0.05em;
  }
}

.title-symbols {
  color: var(--title-color);
  font-size: 1.5rem;
  transform: translateY(0.1em); // slight vertical alignment tweak
}

.title-text {
  display: inline-block;
  position: relative;
  translate: 0 6px;
}
.app-body__title {
  border-bottom: solid 1px var(--theme-color-light);
  // position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--title-color);

  // color: grey;
  // opacity: 0;
  font-size: 1.25rem;
  text-transform: uppercase;
  transition: all 0.4s;
  padding-bottom: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  // remove hover transition
  // transform: translateY(60px);
}

.app-body__logo {
  flex-grow: 1;
  display: flex;
}

.app-body__label {
  @include project-label;
}

.css-logo-animation-hack {
  transition: all 0.4s;
}

.app-body__block {
  font-family: "OTBrut";
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  align-items: center;

  // border: solid 1px var(--theme-color-light);
  // outline: solid 1px black;
  // background-color: #f1f1f1;

  min-height: 250px;
  // max-width: 420px;
  transition: all 0.4s;

  justify-self: center;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;

  &:hover {
    // box-shadow: 1px 1px 10px 1px var(--theme-color-light);
    // transform: translateX(50px);
    // justify-content: space-evenly;

    .app-body__title {
      // box-shadow: 0 4px 6px -1px var(--theme-color-light);
      // box-shadow: 0 6px 12px -4px var(--theme-color-light);

      /* Original shadow that was bleeding: */
      /* box-shadow: 0 6px 12px -4px var(--theme-color-light); */

      /* New shadow for bottom-only effect: */
      /* offset-x | offset-y | blur-radius | spread-radius | color */
      box-shadow: 0px 14px 16px -13px var(--theme-color);
    }
    // .app-body__title::after {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   right: 0;
    //   bottom: -2px; /* sit just beneath the text block */
    //   height: 6px; /* thickness of your glow */
    //   background: var(--theme-color-light);
    //   filter: blur(3px); /* soften into a glow */
    //   opacity: 0.6;
    //   pointer-events: none;
    //   z-index: -1; /* send it behind the text */
    // }

    .logo-container {
      transform: translateY(-20px);
    }

    .css-logo-animation-hack {
      transform: translateY(-20px);
    }
  }
}

.logo-container {
  padding: 1em;
  box-sizing: border-box;
  transition: all 0.4s;

  transform: translateY(-20px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.project__title--contact {
  position: relative;
  left: -1rem;
}

.profile__container {
  margin-top: -3rem;
}

.profile-img {
  display: block;
  margin: 0 auto;
  width: 40%;
  position: relative;
  filter: grayscale(100%) brightness(120%);
  top: -6rem;
  left: 6rem;
  z-index: -1;

  @media (prefers-color-scheme: dark) {
    filter: grayscale(100%);
  }
}

@media (max-width: 800px) {
  .nav {
    position: absolute;
    left: -100%;

    padding: 2em;

    &--show-mobile {
      width: 100%;
      left: 0;
    }
  }

  .nav__menu {
    justify-content: center;
    text-align: center;
  }

  .App {
    flex-direction: column;
  }

  .app-body {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    padding: 1rem;
  }

  .hamburger__button {
    display: block;
    width: 25px;
    margin: 1em 1.5em;
    padding: 1em;
    box-sizing: content-box;
    fill: var(--theme-color);
    background: none;
    border: none;
  }

  .logo-container {
    transform: translateY(-20px);
  }
}

@media (max-width: 550px) {
  .app-body {
    grid-gap: 1em;
  }
}

// lightbox
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-color);
  text-align: center;
  z-index: 10;

  p {
    color: white;
  }

  img {
    box-shadow: 0 0 25px var(--shadow-color);
    width: 95%;
    max-width: 1300px;
  }

  &--show {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
